<h2>Project List (Max 10 items)</h2>

<% @projects.each do |project| %>
  <p><strong><%= project.title%></strong> - <em><%= project.description%></em>
<%= ": #{project.percent_completed}%" if project.percent_completed %>
<% end %>
