@font-face {
  font-family: "Dead Space";
  src: url('/assets/DeadSpaceTitleFont');
}

body {
  margin: 42px;
}

h1 {
  font-family: "Dead Space", Gadget, sans-serif;
  font-size: 3.5em;
}

p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}